body{
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0px;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

html{
    margin: 0;
    padding: 0;
}

a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

button{
    max-width: fit-content;
    max-height: fit-content;
}

.footer, .header{
    width: 100vw;
}

.middleSection{
    display: flex;
    flex: 1;
    padding: 10%;
}

.settings{
    flex: 1;
    display: flex;
    padding: 6mm;
}

.panel{
    flex : 1;
    display: flex;
}

.container{
    border: 0.5mm solid black;
    display : flex;
    flex: 2 0 auto;
    max-height: 80%;
    aspect-ratio: 1/1;
}

.gridColumn{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.gridRow{
    flex: 1;
    opacity: 0;
    background-color: lightgray;
    border: 1px dashed black;
}

.header{
    text-align: center;
}

.footer{
    display: flex;
    justify-content: space-around;
    padding: 6mm;
}



