body{
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0px;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html{
    margin: 0;
    padding: 0;
}

.container{
    border: 0.5mm solid black;
    display : flex;
    flex: 1 0 auto;
    max-height: 80%;
    aspect-ratio: 1/1;
}

.gridColumn{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.gridRow{
    flex: 1;
    opacity: 0;
    background-color: white;
}

.upperSection{
    margin-bottom: 2%;
}