/* main website view */

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 
 
 .header, .footer{
    display: flex;
    justify-content: space-between;
 }
 
 
 .middleSection{
    flex: 1;
    display: flex;
    justify-content: space-between;
 }
 
 
 .mainPadding{
    padding: 24px 48px;
 }
 
 
 /* Sketch pad Part */
 
 
 .container{
    display: flex;
    border: 1px solid black;
    aspect-ratio: 1/1;
    margin: 0 auto;
 }
 
 
 .gridColumn{
    display: flex;
    flex: 1;
    flex-direction: column;
 }
 
 
 .gridRow{
    flex: 1;
    border: 1px dotted black;
 }
 
 
 .settings{
    display: flex;
    flex-direction: column;
    align-self: center;
 }
 